<ion-header>
  <ion-toolbar>
    <ion-title>
      Budget
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addBudgetItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Name
      </ion-col>
      <ion-col size="2">
        Est
      </ion-col>
      <ion-col size="2">
        Act
      </ion-col>
      <ion-col size="2">
        Due
      </ion-col>
      <ion-col size="2">
        Paid
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let budgetItem of listOfBudgetItems" [routerLink]="['/tabs/budget/edit', budgetItem.id]">
      <ion-col>
        {{budgetItem.name}}
      </ion-col>
      <ion-col size="2">
        {{budgetItem.averagePayment}}
      </ion-col>
      <ion-col size="2">
        {{getActual(budgetItem)}}
      </ion-col>
      <ion-col size="2">
        {{budgetItem.dueDay}}
      </ion-col>
      <ion-col size="2">
        <ion-icon slot="end" color="medium" [name]="checkIcon(budgetItem)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
