<ion-header>
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addTransaction()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        Type
      </ion-col>
      <ion-col>
        Amount
      </ion-col>
      <ion-col size="2">
        Est
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngFor="let transactionItem of listOfTransactions" [routerLink]="['/tabs/transactions/edit', transactionItem.id]">
      <ion-col>
        {{formatShortDateString(transactionItem.transactionDate)}}
      </ion-col>
      <ion-col>
        {{transactionItem.transactionType}}
      </ion-col>
      <ion-col>
        {{transactionItem.actualAmount}}
      </ion-col>
      <ion-col size="2">
        {{transactionItem.estimatedAmount}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
